@model Pendaftaran.Models.Siswa

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Siswa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdSiswa" class="control-label"></label>
                <input asp-for="IdSiswa" class="form-control" />
                <span asp-validation-for="IdSiswa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamaSiswa" class="control-label"></label>
                <input asp-for="NamaSiswa" class="form-control" />
                <span asp-validation-for="NamaSiswa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TanggalLahir" class="control-label"></label>
                <input asp-for="TanggalLahir" class="form-control" />
                <span asp-validation-for="TanggalLahir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JenisKelamin" class="control-label"></label>
                <input asp-for="JenisKelamin" class="form-control" />
                <span asp-validation-for="JenisKelamin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alamat" class="control-label"></label>
                <input asp-for="Alamat" class="form-control" />
                <span asp-validation-for="Alamat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoRegistrasi" class="control-label"></label>
                <input asp-for="NoRegistrasi" class="form-control" />
                <span asp-validation-for="NoRegistrasi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
